<h2> Edit User Profile </h2>

<form method="POST" action="/auth/update?_method=PUT">

    <div>
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= currentUser.firstName %>"/>
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= currentUser.lastName %>">
    </div>

    <div>
        <label>Registered Email Address</label>
        <input type="number" name="emailAddress" value="<%= currentUser.emailAddress %>"/>
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" value="<%= currentUser.password %>"/>
    </div>

    <input type="hidden" name="id" value="<%= author._id %>">

    <button type="submit">Update Profile</button>

</form>
