<style>
    * {
        color: white;
    }
</style>
<div>
    <div>
        <h3 style="margin-top: 30%"><%= author.name %></h3>
    </div>

    <div>Nationality: <%= author.nationality %></div>
    <div>Year of Birth: <%= author.birthYear %></div>
    <div>Record Created: <%= moment(author.createdAt).fromNow() %></div>
    <div>Record Last Updated: <%= moment(author.updatedAt).fromNow() %></div>

    <br>

<% author.book.forEach(function(book){ %>

    <hr>

    <div>
        Title: <a href="/book/detail?id=<%= book.id %>"><%= book.title %></a>
    </div>

    <div>
        Year Published: <%= book.yearPublished %>
    </div>

<% }) %>

</div>