<h2> Edit Author Details </h2>
<link href="../css/author-edit.css" rel="stylesheet"/>
<form method="POST" action="/author/update?_method=PUT">
<div id="banner">
   <center> <div id="container">
    <div>
        <h4 id="name">Name</h4>
        <input type="text" name="name" value="<%= author.name %>"/>
    </div>

    <div>
        <h4 id="password">Nationality</h4>
        <input type="text" name="nationality" value="<%= author.nationality %>">
    </div>

    <div>
        <h4>Birth Year</h4>
        <input type="number" name="birthYear" value="<%= author.birthYear %>"/>
    </div>

    <input type="hidden" name="createdBy" value="<%= currentUser.id %>">

    <input type="hidden" name="id" value="<%= author._id %>">

    <button type="submit" style="background-color: chocolate">Update Author</button></div></center>
    </div>
</form>