
<link href="../../css/author-index.css" rel="stylesheet">
<table class="table-bordered border-primary table table-dark table-striped">
    <tr>
        <th class="header">Name</th>
        <th class="header">Nationality</th>
        <th class="header">Year of Birth</th>
        <th class="header">Publications</th>
        <th class="header">Books</th>
        <th class="header">Entry Added</th>
        <th class="header">Entry Created</th>
        <th class="header">Edit</th>
        <th class="header">Delete</th>
    </tr>

<% authors.forEach(function(author){ %>

    <tr>
        <td>
            <a href="/author/detail?id=<%= author.id %>"><%= author.name %></a>
        </td>
        <td><%= author.nationality %></td>
        <td><%= author.birthYear %></td>
        <td><%= author.book.length %></td>
        <td>
            <% author.book.forEach(function(book){ %>
            <li> 
                <a href="/book/detail?id=<%= book.id %>"><%= book.title %></a>
            </li>
            <% }) %>
        </td>
        <td><%= moment(author.createdAt).fromNow() %></td>
        <td><%= moment(author.updatedAt).fromNow() %></td>
        <% if (currentUser && currentUser.id == author.createdBy) { %>
            <td><a href="/author/edit?id=<%= author.id %>" style="color: yellow">Edit</a></td>
            <td><a href="/author/delete?id=<%= author.id %>" style="color: red">Delete</a></td>
        <% } else if (!currentUser) { %>
            <td><a href="/auth/login">Edit</a></td>
            <td><a href="/auth/login">Delete</a></td>
            <% } else if (currentUser.id != author.createdBy) { %>
            <td>Edit</td>
            <td>Delete</td>
            <% } %>
    </tr>
<% }) %>
</table>
