<style>
    * {
        color: white;
    }
    h5 {
        color: white;
    }
</style>
<h2 style="color: white; margin-top: 5%"><%= book.title %></h2>

<h5>Cover:</h5>
<a href=" <%= book.imageUrl %> "><img src="<%= book.imageUrl %>" alt="<%= book.title %> cover" style="max-height: 350px"></a>

<% book.authors.forEach(function(author){ %>
    <hr>
    <% console.log("book/detail.ejs", author.name) %>
    <div>Author(s): <%= author.name %> </div>
<% }) %>
<hr>

<div>
    Year Published: <%= book.yearPublished %>
</div>


<div>
    Entry Added: <%= moment(book.createdAt).fromNow() %>
</div>

<div>
    Entry Updated: <%= moment(book.updatedAt).fromNow() %>
</div>

<br>

<div>
<h3>What other Nomads have to say about this title:</h3>
</div>
<br>

<div style="font-style: italic; display: flex; justify-content: space-evenly;">
    <div><h3 style="border: 1px solid rgba(255, 255, 255, 0.2); padding: 10px; margin-bottom: 0"><%= book.reviewTitle%></h3>
    <p style="border: 1px solid rgba(255, 255, 255, 0.2); padding: 10px; margin-top: 0"><%= book.reviewBody %></p></div>
</div>