<h2><%= book.title %></h2>

Cover:
<img src="<%= book.imageUrl %>" alt="<%= book.title %> cover">

<% book.authors.forEach(function(author){ %>
    <hr>
    <% console.log("book/detail.ejs", author.name) %>
    <div>Author(s): <%= author.name %> </div>
<% }) %>
<hr>

<div>
    Year Published: <%= book.yearPublished %>
</div>


<div>
    Entry Added: <%= moment(book.createdAt).fromNow() %>
</div>

<div>
    Entry Updated: <%= moment(book.updatedAt).fromNow() %>
</div>

<br>

<div>
<h3>What other Nomads have to say about this title...</h3>
</div>
<br>

<div>
    <h3><%= book.reviewTitle%></h3>
    <p><%= book.reviewBody %></p>
</div>