<h2> Edit Book Details </h2>

<form method="POST" action="/book/update?_method=PUT">

    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>"/>
    </div>

    <div>
        <label>Author(s)</label>
        <select type="text" name="authors" multiple="multiple">
            <%  book.authors.forEach(function(author){ %>
                <option value="<%= author._id %>"><%= author.name %></option>
            <% }) %>
        </select>
    </div>

    <div>
        <label>Year Published</label>
        <input type="number" name="yearPublished" value="<%= book.yearPublished %>"/>
    </div>

    <div>
        <label>Cover Image URL</label>
        <input type="url" name="imageUrl" value="<%= book.imageUrl %>">
    </div>

    <input type="hidden" name="createdBy" value="<%= currentUser._id %>">

    <input type="hidden" name="id" value="<%= book._id %>">

    <button type="submit">Update Author</button>

</form>