<h1>The Bookshelf</h1>

<table class="table-bordered border-primary">
    <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Year Published</th>
        <th>Entry Added</th>
        <th>Entry Updated</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

<% books.forEach(function(book){ %>

    <tr>
        <td><a href="/book/detail?id=<%= book._id %>" class="unstyled"><%= book.title %></a></td>
        <td>
            <% book.author.forEach(function(author){ %>
            <li> <%= author.name %></li>
            <% }) %>
        </td>
        <td><%= book.yearPublished %></td>
        <td><%= moment(book.createdAt).fromNow() %></td>
        <td><%= moment(book.updatedAt).fromNow() %></td>

        <td>
            <a href="/book/edit?id=<%=book.id%>" class="unstyled">Edit</a>
        </td>
        <td>
            <a href="/book/delete?id=<%=book.id%>" class="unstyled">Delete</a>
        </td>
    </tr>

<% }) %>

</table>