
<link href="../../css/book-index.css" rel="stylesheet"/>
<table class="table-bordered border-primary table table-dark table-striped">
    <tr>
        <th class="header">Title</th>
        <th class="header">Author(s)</th>
        <th class="header">Year Published</th>
        <th class="header">Entry Added</th>
        <th class="header">Entry Updated</th>
        <th class="header">Edit</th>
        <th class="header">Delete</th>
    </tr>

<% books.forEach(function(book){ %>

    <tr>
        <td><a href="/book/detail?id=<%= book._id %>" class="unstyled"><%= book.title %></a></td>
        <td>
            <% book.authors.forEach(function(author){ %>
            <li>
                <a href="/author/detail?id=<%= author.id %>"><%= author.name %></a>
            </li>
            <% }) %>

        </td>
        <td><%= book.yearPublished %></td>
        <td><%= moment(book.createdAt).fromNow() %></td>
        <td><%= moment(book.updatedAt).fromNow() %></td>

        <% if (currentUser && currentUser.id == book.createdBy) { %>
            <td><a href="/book/edit?id=<%= book.id %>" style="color: yellow">Edit</a></td>
            <td><a href="/book/delete?id=<%= book.id %>" style="color: red">Delete</a></td>
            <% } else if (!currentUser) { %>
            <td><a href="/auth/login">Edit</a></td>
            <td><a href="/auth/login">Delete</a></td>
            <% } else if (currentUser.id != book.createdBy) { %>
            <td>Edit</td>
            <td>Delete</td>
            <% } %>
    </tr>

<% }) %>

</table>